@font-face {
  font-family: Playfair; /* Pode ser qualquer nome */
  src: url(fontes/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

h1 {
  font-family: Playfair;
}

.painel-titulo {
  font-family: Playfair;
  font-size: 70pt;
}

.painel-texto {
  font-family: cursive;
  font-size: 25pt;
}
