@font-face {
  font-family: Playfair; /* Pode ser qualquer nome */
  src: url(fontes/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

h1 {
  font-family: Playfair;
}

.navbar-brand {
  font-family: cursive;
  color: white;
}

.painel-titulo {
  font-family: Playfair;
  font-size: 50pt;
}

.painel-texto {
  font-family: cursive;
  font-size: 15pt;
}

body {
  background-image: url("../img/paineis/pousada3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section {
  background-color: white;
  padding: 80px 30px 80px 90px;
}

#home img {
  width: 70%;
}

.acomodacao {
  padding: 100px 200px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
h3 {
  font-family: Playfair;
}

h3.gastronomia {
  font-family: cursive;
  text-align: center;
  text-decoration: underline;
  margin-top: 50px;
  margin-bottom: 30px;
}

.reservas {
  padding: 100px 200px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
